$background: #ecedef;
$color:#181c27;
$menu-color:#e9ecfb;
$dark-theme:#1a1e2a;

/*Color variables*/

$primary:#214fbe;
$primary-hover:#1d439e;
$secondary:#e54d26;
$success:#269c8e;
$warning:#ff9e01;
$danger:#ff0000;
$purple:#7057e9;
$info:#00aeff ;
$pink:#fd006d ;
$green:#00b220;
$dark:#2e3649;
$blue:#467fcf;
$indigo:#4b0082;
$azure:#00d6e6;
$orange:#e67605;
$yellow:#ffb609;
$lime:#63e600;
$teal:#05e6e6;
$gray:#707580;
$white:#ffffff;
$black:#000000;

/*gray variables*/
$gray-100:#efefef;
$gray-200:#e6e6e6;
$gray-300:#d9d9d9;
$gray-400:#cccccc;
$gray-500:#bfbfbf;
$gray-600:#b3b3b3;
$gray-700:#a6a6a6;
$gray-800:#999999;
$gray-900:#8c8c8c;

/*white variables*/
$white-1:rgba(255, 255, 255, 0.1);
$white-2:rgba(255, 255, 255, 0.2);
$white-3:rgba(255, 255, 255, 0.3);
$white-4 :rgba(255, 255, 255, 0.4);
$white-5 :rgba(255, 255, 255, 0.5);
$white-6 :rgba(255, 255, 255, 0.6);
$white-7 :rgba(255, 255, 255, 0.7);
$white-8 :rgba(255, 255, 255, 0.8);
$white-9 :rgba(255, 255, 255, 0.9);
$white-05:rgba(255, 255, 255, 0.05);
$white-08:rgba(255, 255, 255, 0.08);
$white-75:rgba(255, 255, 255, 0.075);

/*black variables*/
$black-1:rgba(0, 0, 0, 0.1);
$black-2:rgba(0, 0, 0, 0.2);
$black-3:rgba(0, 0, 0, 0.3);
$black-4:rgba(0, 0, 0, 0.4);
$black-5:rgba(0, 0, 0, 0.5);
$black-6:rgba(0, 0, 0, 0.6);
$black-7:rgba(0, 0, 0, 0.7);
$black-8:rgba(0, 0, 0, 0.8);
$black-9:rgba(0, 0, 0, 0.9);
$black-05:rgba(0, 0, 0, 0.05);

